.outer{
    width: 1320px;
    margin: auto;
   
}
    
.faqitems{
    border: 1px solid red;
    margin-bottom: 20px;

}
.faq{
    text-align: center;
}
.faq h2{
    padding: 10px;
    margin: 0px;
    background-color: #282c34;

    color: white;
    text-align: left;
}
.faq p{
    text-align: left;
    padding: 0px;
    height: 0px;
    margin: 0px;
    transform: scaleY(0);
}
.activeans{
    height: auto !important;
    transform: scaleY(1) !important;
    padding: 10px !important;
}